body{
	margin: 0;
	padding: 0;
	background-color: #121B2A;
}
/* header start*/
.header{
	background-color: #121B2A;
	padding: 15px 0;
	box-shadow: 5px 5px 15px #D61212 /* #030000 */;

} 
.wrapper{
	width: 80%;
	/* height: 100px; */
	overflow: hidden;
	margin: 0 auto;
	
}
.logo{
	float: left;
	width: 20%;

	}
.logo img{
	width: 100%;
}
.menu{
	width: 60%; 
	float: right;
	margin-top: 50px;
	}
ul {
	float: right;
	list-style-type: none; 
	margin:0; 
	padding:0; 
	overflow: hidden;
}
 li { 
	float: left;
}

 li a { 
	display: block; 
	color: white; 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none; 
	transition: 1s;
}
li a: last child{
	padding-right: 0px;
}
li a:hover {
	color: #4E75CD;
}
/* heading end */
.bannar{
	background-image: url(../img/banar1.png) ;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 300px 0 100px 0;
}
.bannar_content{
	width: 50%;
	
}
.bannar h1{
	color: white;
	font-size: 45px;
	margin: 0;
}.bannar h2{
	color: #14719C;
	font-size: 45px;
	margin: 0;
}
.bannar p{
	color:white;
	font-size: 18px;
}
button{
	padding: 20px;
}
.service{
	margin-top: 60px;
	margin-bottom: 50px;
	background-color: #121B2C;
}

.service1{
	width: 30%; 
	float: left;
	padding: 15px 10px 25px 26px;
	border-right: 1px solid #1A2430;
}
.service2{
	width: 30%; 
	float: left;
	padding: 15px 10px 25px 26px;
}
.top{
	overflow: hidden;
}

.t-img{
	width: 20%; 
	float: left;
	
}

.t-img img{}
.text{ width: 70%; 
	float: left; 
	margin-top: 20px;
	margin-bottom: 12px;
	overflow: hidden;
	}
.text1{ width: 70%; 
	float: left; 
	margin-top: 50px;
	margin-bottom: 12px;
	overflow: hidden;
	}
.h2{
	font-family: sans-serif; 
	font-weight: 400; 
	font-size: 22px; 
	color: white; 
	margin:0;
}
.text h2{ 
	color: #14719C;
}

span{
	color: #14719C;
}
.bottom {
	font-family: sans-serif; 
	color: white;

}
.bottom p{
	text-align: justify;
	padding: 85px 30px 10px 10px;
    font-family: sans-serif;
    color: white;
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 20px;
}
.add{
	color:white;
	background-color: #060505;
}
.info{
	width: 22%; 
	float: left;
	padding: 37px 99px 5px 36px;
}
.add1{
	font-family: sans-serif; 
	font-weight: 400; 
	font-size: 20px;
}
.add1 h4{
margin-bottom: 15px;
}
.add2{
	font-family: sans-serif; 
	font-weight: 300; 
	font-size: 11px;
	float: left;
	color: #E1DCDC;
	margin-bottom: 15px;
}
.add3{
	font-family: sans-serif; 
	font-weight: 300; 
	font-size: 11px;
	float: left;
	color: #E1DCDC;
}
.add3 p{
	float: left;
	margin: 0;
}
.s{
	padding-left:26px; 
}
.y{
	padding-left:50px; 
}
.z{
	padding-left:41px; 
}
.img1{
	float: left;
	margin-top: 20px;
}
.add4{
	font-family: sans-serif; 
	font-weight: 300; 
	font-size: 20px;
	float: left;
	padding: 0 0 0 20px;
	margin: 0;
	
}
.add4 h4{
	margin-bottom: 0;
}
.add4 h2{
	color: #14719C;
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 22px;
}
.img2{
	float:left;
}
.img2 img{
	padding-left: 15px;
}
.foot{
	float: left;
	padding-top: 25px;
}
.foot ul {
	float: left;
	list-style-type: none; 
	margin:0; 
	padding:0; 
	overflow: hidden;
}

.foot li { 
	float: left;
}

.foot li a { 
	display: block; 
	color: white; 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none; 
	font-weight: 300px;
	font-size: 14px;
}
.img{
	float: left;
}
.pic1{
	float: left;
	padding: 0px 36px 0px 186px;
}
.pic2{
	float: left;
	padding: 0px 10px 0px 10px;
}
.texts p{
	color: white;
	margin: 0;
	font-size: 13px;
	padding-bottom: 40px;
}